# Python
*.pyc
*~
__pycache__
.idea/

# Env
venv/

# Database


# Static folder at project root


# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
Desktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace